# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android Studio
.idea/
.DS_Store
*.iml

# Generated
captures/
outputs/
intermediates/
*.apk
*.aab

# SDK and secrets
app/libs/
*.keystore

.kotlin
